@media only screen and (max-width: 600px) {}

.content {
  text-align: center;
}

#viewbtn {
  width: 6rem;
  height: 3rem;
  font-size: 20px;
  background: bisque;
  color: black;
  border-radius: 20px;
  cursor: pointer;
}

.tab1 {
  margin-left: 20%;
  margin-top: 3%;
  border: 2px solid;
}

#tab1head {
  color: lightseagreen;
}