.add{
    margin-left: 45%;
    margin-top: 10%;
}
.num1{
    width: 10rem;
    height: 3rem;
    border-radius: 20px;
}
#addbtn{
    margin-left: 5%;
    width:6rem;
    height:3rem;
    border-radius: 10px;
}
